{% extends "layout.html" %}
{% block title %}Edit record{% endblock %}
{% block content %}
    <h1 class="title">Add or edit record</h1>

    <form action="" method="post" name="record_edit">
      {{ form.csrf_token }}

      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          {{ form.title(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.title.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="content" class="label">Content</label>
        <div class="control">
          <textarea class='textarea' rows='5' value={{ form.content }}></textarea>
        </div>
        {% for error in form.content.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}